<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p></p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4><a href="">24 Hour Emergency Service</a></h4>
          <p>We provide 24-hour emergency services to ensure your pet gets the care they need at any time, day or night. Our experienced team is ready to handle any medical emergency with the highest standards.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4><a href="">House Visits</a></h4>
          <p>Modern life can be hectic, but we bring veterinary care to your doorstep. Our dedicated team provides house visits to ensure your pet receives top-notch care without the hassle.</p>
          <br>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-hospital-user"></i></div>
          <h4><a href="">Companion Animal Medical Services</a></h4>
          <p>Our focus is on accurate diagnoses to plan effective treatments for your pet's health. We ensure your companion receives the best medical attention tailored to their needs.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4><a href="">OPD Treatments</a></h4>
          <p>At our clinic, we prioritize your pet’s health with comprehensive medical care. Our team delivers exceptional service for all general and specialized treatments.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-wheelchair"></i></div>
          <h4><a href="">Complete Wellness Consultation</a></h4>
          <p>We understand the joys of pet ownership and are committed to providing responsible care to ensure a happy and healthy life for you and your pet.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-notes-medical"></i></div>
          <h4><a href="">Vaccination Unit</a></h4>
          <p>We conduct vaccination and sterilization programs in communities and organizations at competitive prices to promote pet health and welfare.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- End Services Section -->
