<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
        <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
        <img src="assets/image/aboutUs.jpg" style="width: 500px; height: 500px;" alt="About-Us">

      </div>

      <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>About Us</h3>
        <p> At Rajarata Pet Clinic, we are dedicated to revolutionizing veterinary care through innovative technology. Our Pet Clinical Management System streamlines clinic operations, enhances patient care, and improves client engagement, providing a seamless experience for both veterinarians and pet owners. With a focus on data security and cutting-edge solutions, we aim to elevate the standard of pet healthcare worldwide.</p>
        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Rajarata Us</a></h4>
          <p class="description">we have a 15 year history of connecting, caring and curing your companion animals.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-gift"></i></div>
          <h4 class="title"><a href="">Our Vision</a></h4>
          <p class="description">To be the leading professional and quality veterinary care provider in Anuradhapura.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-atom"></i></div>
          <h4 class="title"><a href="">Our Mission</a></h4>
          <p class="description">​To assist you and your four-legged friends with love, care and respect. At Best Care we are dedicated and bound to provide the best service for all
            your pet’s needs.</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End About Section -->
