<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <h1>Welcome to<br> Rajarata Pet Clinic</h1>
    <h2>We care your loving ones</h2>
    <br>
    <a href="#about" class="btn btn-primary btn-lg scrollto getStartBtn">Get Started</a>
  </div>
</section>

  <section id="why-us" class="why-us">
    <div class="container">

      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch">
          <div class="content">
            <h3>Why Choose Rajarata Pet Clinic?</h3>
            <p>
              Rajarata Pet Clinic is the one of the leading vetnery clinic in Anuradhapura.
            </p>
            <div class="text-center">
              <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-stretch">
          <div class="icon-boxes d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-receipt"></i>
                  <h4>Our Hospital</h4>
                  <p>Hospital is fully equipped with modern technology, professional qualified team of doctors, experienced technical personnel and professionally trained team of
                    Veterinary Assistants and Dog Handlers to offer you a good service.</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Compassion</h4>
                  <p>We are animal lovers and pet owners ourselves so we understand the power of providing treatment in a kind and empathetic manner. This approach filters through everything we do</p>
                </div>
              </div>
              <div class="col-xl-4 d-flex align-items-stretch">
                <div class="icon-box mt-4 mt-xl-0">
                  <i class="bx bx-images"></i>
                  <h4>Responsibility</h4>
                  <p>We are serious about our responsibility to our patients and their owners. So we are always doing our best in providing world-class treatment.</p>
                </div>
              </div>
            </div>
          </div><!-- End .content-->
        </div>
      </div>

    </div>
  </section><!-- End Why Us Section -->




